.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;

    /* efecto blur al fondo */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);

    /* fondo semitransparente para oscurecer un poco */
    background: rgba(0, 0, 0, 0.3);

    /* centrar modal */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-check{
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    z-index: 21;
}

.modal-crear-cuenta{
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    border-radius: 10px;
    width: 500px;
    z-index: 21;
}

.close-container{
    position: absolute;
    right: 10px;
    top: 10px;
}

.close-btn{
    background: #202020;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

.crear-cuenta-title{
    font-size: 28px;
    color: #202020;
    padding: 3px;
    border-bottom: 1px solid #202020;
}

.form-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nombre-telefono-container{
    display: flex;
    gap: 10px;
    width: 100%;
}

.label-field{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.label-field span{
    color: #202020;
    font-size: 16px;
    font-weight: 500;
}

.label-field input{
    color: #202020;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #ededed;
    padding: 10px 14px;
    border-radius: 10px;
}

.registrar-btn{
    border: 1px solid #202020;
    padding: 7px;
    font-size: 16px;
    color: #202020;
    background: transparent;
    border-radius: 10px;
    margin-top: 5px;
}

.registrar-btn:hover{
    background: #202020;
    color: #fff;
    cursor: pointer;
}

.telefono-container {
  display: flex;
  align-items: center;
}

.telefono-select {
  padding: 8px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  font-size: 14px;
}

.telefono-input {
  flex: 1;
  padding: 8px 12px;
  border-radius: 0px 8px 8px 0px !important;
  border: 1px solid #ccc;
  font-size: 14px;
  width: 80%;
}

.select-field{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #f5f5f5;
    font-size: 14px;
}

.verificar-descripcion{
    font-size: 12px;
    font-weight: 400;
    color: #20202060;
}

.inputs-container{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.change-text{
    color: #20202060;
    font-size: 12px;
    font-weight: 400;
}

.change-link{
    color: #202020;
    font-weight: 700;
    font-size: 12px;
}

.change-link:hover{
    cursor: pointer;
    text-decoration: underline;
}

.btn-verificar{
    border: 1px solid #202020;
    background-color: #fff;
    padding: 7px;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: #202020;
    border-radius: 10px;
    font-weight: 700;
}

.btn-verificar:hover{
    background-color: #202020;
    color: #fff;
    cursor: pointer;
}

.btn-reenviar{
    padding: 7px;
    outline: none;
    text-align: center;
    font-size: 12px;
    color: #848484;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: underline;
}

.btn-reenviar:hover{
    cursor: pointer;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #202020;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 0.8s linear infinite;
  display: inline-block;
  margin-right: 8px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


.modal-check .icon-container{
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 5px solid #202020;
}

.icon-container span{
    font-size: 128px;
}

.modal-check-title{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.modal-check-descrip{
    font-size: 14px;
    font-weight: 300;
}

.modal-check-btn{
    border: 1px solid #202020;
    background-color: #fff;
    padding: 7px;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: #202020;
    border-radius: 10px;
    font-weight: 700;
    width: 100%;
}

.modal-check-btn:hover{
    background-color: #202020;
    color: #fff;
    cursor: pointer;
}
