.info-container{
    width: 100%;
    min-height: 45vh;
    margin: auto;
    z-index: 5;

    background: transparent;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
}

.info-container-header{
    display: flex;
    width: 80%;
    margin: auto;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid #202020;
}

.info-container-header-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container-header-img img{
    width: 250px;
}

.info-container-header-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-container-header-text h3{
    font-size: 24px;
    font-weight: 700;
}

.info-container-header-text p{
    font-size: 14px;
    font-weight: 300;
}

.info-container-header-text span{
    font-size: 16px;
}

.rifas-container{
    display: flex;
    align-items: end;
    width: 100%;
    margin: auto;
}

.rifas-container-header{
    display: flex;
    width: 80%;
    margin: auto;
    height: 100%;
}

.rifas-container-header h3{
    color: #202020;
    font-weight: 500;
}

.rifas-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.ticket {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  padding: 10px;
  border-radius: 12px;
  width: 75px;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.ticket:hover{
  transform: scale(1.1);
}

.ticket.disponible { background: #1b8a1d; } /* verde */
.ticket.pagado { background: #c0392b; cursor: not-allowed; } /* rojo */

.ticket-menu {
  position: absolute;
  background: #fff;
  padding: 12px 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  z-index: 20;
  white-space: nowrap;
  text-align: center;
}

.ticket-menu::after {
  content: '';
  position: absolute;
  bottom: -10px; /* coloca la flecha abajo de la burbuja */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.ticket-menu button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}



/* efecto agujeros laterales tipo boleto */
.ticket::before,
.ticket::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
}

.ticket::before {
  left: -10px;
}

.ticket::after {
  right: -10px;
}

.ticket-number {
  display: block;
  font-size: 12px;
}
